@import "src/styles";

.container {
  display: grid;
  grid-template-columns: 40% 60%;
  min-height: 100vh;

  @include mq("sm") {
    @include flex-col;
  }

  .navbar {
    padding: 32px 70px;
  }

  main {
    padding: 96px 70px;

    @include mq("sm") {
      padding: 64px 35px;
    }
  }

  .image {
    position: relative;
    height: 100%;

    @include mq("sm") {
      display: none;
    }
  }
}