@import "src/styles";

.container {
  @include flex-col;
  min-height: 100vh;

  main {
    flex-grow: 1;
    padding-top: 30px;
    padding-bottom: 167px;

    @include mq("sm") {
      padding-bottom: 72px;
    }
  }
}