@import "src/styles";

.container {
  @include flex-col;
  min-height: 100vh;

  main {
    @include flex-col;
    flex-grow: 1;
    padding: 20px 70px 0 70px;

    @include mq("sm") {
      padding: 64px 36px 0 36px;
    }
  }
}