@import "src/styles";

.container {
  @include flex-col;
  gap: 16px;
  width: 100%;

  .actions {
    @include flex-row;
    margin-left: auto;
    gap: 16px;
    margin-top: 16px;

    button:first-child {
      color: $primary-color;
    }
  }

}