@import "src/styles";

.container {
  @include flex-col;


  button {
    width: 172px;
    @include mq("sm") {
      margin: auto;
    }
  }

  .tryYourselfContainer {
    @include flex-col-items-center;
    gap: 32px;
    margin-top: 233px;
    margin-bottom: 167px;

    @include mq("sm") {
      margin-top: 0;
      margin-bottom: 73px;
    }

    .tryYourself {
      @include flex-col-items-center;
      text-align: center;
      gap: 32px;
      padding-bottom: 32px;

      .infoContainer {
        max-width: 587px;
      }
    }

    .cards {
      @include flex-row-items-center;
      width: 100%;
      gap: 20px;

      @include mq("sm") {
        @include flex-col-items-center;
      }
    }
  }
}