@import "src/styles";

.container {
  @include flex-col-items-center;
  width: 100%;
  gap: 32px;
  position: relative;

  .gird {
    width: 100%;
    max-height: 800px;
    overflow: auto;
    padding-right: 4px; // padding for scrollbar
    padding-bottom: 4px; // padding for scrollbar

    @include mq("sm") {
      max-height: 600px;
    }
  }
}
