@import "breakpoints";
@import "theme";

@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-col {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-content-between {
  @include flex-row;
  justify-content: space-between;
}

@mixin flex-row-items-center {
  @include flex-row;
  align-items: center;
}

@mixin flex-col-items-center {
  @include flex-col;
  align-items: center;
}

@mixin mq($breakpoint) {
  $value: map-get($breakpoints, $breakpoint);

  @if $value {
    @media (max-width: #{$value}px) {
      @content;
    }
  } @else {
    @error "Invalid breakpoint '#{$breakpoint}' provided. Allowed breakpoints: #{map-keys($breakpoints)}";
  }
}


@mixin modal($size: "md") {
  @include flex-col;
  width: 100%;
  gap: 16px;

  @if index($valid-modal-sizes, $size) {
    @if $size == "sm" {
      max-width: $modal-sm-width;
    } @else {
      max-width: $modal-width;
    }
  } @else {
    @error "Invalid size '#{$size}' provided. Allowed sizes: #{join($valid-modal-sizes, ', ')}";
  }
}