// colors
$primary-color: #619B8A;
$primary-hover-color: #468579;
$primary-disabled-color: #D0F5DF;
$error-color: #F04438;
$contrast-color: #fff;
$muted-color: #EAECF0;
$dark-color: #233D4D;
$danger-color: #9B6161;
$text-primary-color: #000000;
$text-secondary-color: #667085;


// border
$border-rounded: 8px;

// box-shadow
$shadow-color: #00000026;
$primary-shadow: 0px 0px 8px 0px $shadow-color;

// modal
$modal-width: 593px;
$modal-sm-width: 489px;
$modal-fit-width: fit-content;
$valid-modal-sizes: ("sm", "md", "fit");

// card
$card-lg-width: 420px;
$card-lg-height: 235px;
$card-md-width: 309px;
$card-md-height: 175px;
$card-mobile-width: 344px;
$card-mobile-height: 194px;

$card-widths: (
        "lg": $card-lg-width,
        "md": $card-md-width
);

$card-heights: (
        "lg": $card-lg-height,
        "md": $card-md-height
);

// table
$table-odd-cell-color: #F9FAFB;

// variables
$footer-height: 60px;
$header-height: 132px;
$mobile-header-height: 96px;