// colors
$primary-color: #619B8A;
$primary-hover-color: #468579;
$white-color: #fff;
$dark-color: #233D4D;
$text-primary-color: #000000;

// border-radius
$border-rounded: 8px;
$mobile-border-rounded: 4px;

// box-shadow
$shadow-color: #00000026;
$primary-shadow: 0px 0px 8px 0px $shadow-color;
