@import "theme";
@import "breakpoints";


:export {
  primary: $primary-color;
  primaryHover: $primary-hover-color;
  primaryDisabled: $primary-disabled-color;
  white: $contrast-color;
  dark: $dark-color;
  error: $error-color;
  danger: $danger-color;
  textPrimary: $text-primary-color;
  textSecondary: $text-secondary-color;

  xs: $breakpoint-xs;
  sm: $breakpoint-sm;
  md: $breakpoint-md;
  lg: $breakpoint-lg;
  xl: $breakpoint-lg;

  shadow: $primary-shadow;

  cardLgWidth: $card-lg-width;
  cardLgHeight: $card-lg-height;
  cardMdWidth: $card-md-width;
  cardMdHeight: $card-md-height;
  cardMobileWidth: $card-mobile-width;
  cardMobileHeight: $card-mobile-height;
}

