@import "src/styles";

.container {
  height: 197px;
  max-width: 860px;
  width: 100%;

  border-radius: $border-rounded;
  overflow: hidden; /* Ensures the map does not overflow rounded corners */
}