@import "src/styles";


.nav {
  @include flex-col;
  gap: 24px;
}

.link {
  @include flex-row-items-center;
  justify-content: space-between;
  color: $dark-color;
  padding: 0;
}


.logout {
  color: $primary-color;

  h5 {
    color: $primary-color;
  }
}