@import "src/styles";


.nav {
  @include flex-col;
  gap: 24px;
}

.link {
  @include flex-row-items-center;
  justify-content: space-between !important;
  color: $dark-color;
  padding: 0 !important;
}


.logout {
  color: $primary-color;

  h5 {
    color: $primary-color;
  }
}