@import "src/styles";

.container {
  @include flex-row-content-between;
  align-items: center;
  padding: 46px 70px;

  .logo {
    @include mq("sm") {
      max-width: 141px;
      max-height: 33px;
    }
  }

  @include mq("sm") {
    padding: 31.5px 35px;
    box-shadow: $primary-shadow;
  }

  .actions {
    @include flex-row-items-center;
    gap: 16px;

    @include mq("sm") {
      display: none;
    }
  }

  .bold {
    font-weight: 500;
  }
}