@import "src/styles";

.container {
  &.md {
    --card-width: 309px;
    --card-height: 175px;
    max-width: var(--card-width);
    max-height: var(--card-height);
  }

  &.lg {
    --card-width: 420px;
    --card-height: 235px;
    max-width: var(--card-width);
    max-height: var(--card-height);
  }


  @include flex-row-center;
  width: var(--card-width);
  height: var(--card-height);
  background: $primary-color;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 3;

  &.visible {
    opacity: 1;
  }
}