@import "src/styles";


.link {
  @include flex-row-items-center;
  justify-content: space-between !important;
  color: $dark-color;
  padding: 0 !important;
  margin-bottom: 64px !important;
  width: 100%;
}

.actions {
  @include flex-col;
  gap: 16px;
}
