@import "src/styles";

.container {
  @include flex-col;
  gap: 32px;
  max-width: 352px;

  button {
    width: fit-content;
  }

  .content {
    @include flex-col;
    gap: 16px;

    .text {
      @include flex-col;
      gap: 4px;
    }
  }
}