@import "src/styles";

.container {
  @include flex-col;
  gap: 32px;


  .user {
    @include flex-row-items-center;
    gap: 24px;
    margin-bottom: 32px;

    .avatar {
      height: 64px;
      width: 64px;
    }
  }
}