@import "src/styles";

.container {
  @include flex-col;
  padding-bottom: 48px;
  gap: 32px;

  @include mq("sm") {
    padding-bottom: 72px;
  }

  .user {
    margin-bottom: 32px;
  }

  .section {
    @include flex-col;
    gap: 32px;
  }
}