@import "src/styles";

.container {
  padding: 28px 35px 24px 35px;
  @include flex-col;
  gap: 24px;

  .header {
    @include flex-row-items-center;
    justify-content: space-between;

    .logo {
      @include mq("sm") {
        max-width: 141px;
        max-height: 33px;
      }
    }
  }
}

.menu {
  @include flex-row-items-center;

  .points {
    margin-right: 32px;
    margin-left: 0;
  }
}