@import "src/styles";

.container {
  @include flex-col-items-center;

  .content {
    @include flex-col-items-center;
    max-width: 420px;
    gap: 16px;


    .headline {
      @include flex-col-items-center;
      gap: 8px;
      text-align: center;
    }

    .avatar {
      width: 64px;
      height: 64px;

      svg {
        height: 24px;
        width: 24px;
      }
    }
  }
}